
 .pretty_container {
   border-radius: 5px;
   background-color: #F9F9F9;
   margin: 15px;
   padding: 20px;
   position: relative;
   box-shadow: 2px 2px 2px 2px lightgrey
 }

 .bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.row {
  display: flex
}
